## ------------------------------------
## OS 
##
#windows

#mac
.DS_Store

#linux

## ------------------------------------
## git
##


## ------------------------------------
## composer
##
public/project/common/


## ------------------------------------
## node
##
node_modules/


## ------------------------------------
## image source
##
public/img/
w*.psd
*.png
*.jpeg
*.jpg
*.gif


