<?xml version="1.0"?>
<phpunit
        bootstrap="public/project/setup.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="true"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuite name="sample test">
        <directory>./phptest</directory>
    </testsuite>
</phpunit>