AddType application/x-httpd-php .php .html

<IfModule mod_rewrite.c>
    RewriteEngine On

RewriteBase /

# 除外設定
RewriteCond %{REQUEST_URI} !(^/css/)
RewriteCond %{REQUEST_URI} !(^/img/)
RewriteCond %{REQUEST_URI} !(^/js/)
RewriteCond %{REQUEST_URI} !(^/contents_html/)
RewriteCond %{REQUEST_URI} !(^/css/)
RewriteCond %{REQUEST_URI} !(^/project/)

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^([0-9A-Za-z]+).html$ index.php?type=$1

   # RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>